.title-screen {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Jersey 15', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    image-rendering: pixelated;
}
.title-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.game-title {
    top: 10vh; /* 💡 화면 전체 높이의 30% 지점에 위치 */
    left: 50%;
    font-size: 17vw;
    font-family: 'Jersey 15', sans-serif;
    color: #ff7700;
    text-shadow: 0.5vw 0.5vw 0 black,
        /* 💡 위쪽에만 밝은 스트로크처럼 보이게 */ 0 -0.3vw 0 #fff8c5;
    -webkit-text-stroke: 0.3vw black; /* 굵기, 색상 */
    text-stroke: 0.25vw black; /* 실험적, 백업용 */
    font-weight: bold;
    line-height: 0.8; /* 또는 1보다 작은 값으로 */
    margin-bottom: 2vh;
    white-space: nowrap;
    margin-top: 0;
}
.start-box {
    position: relative;
    background: #0b0b0b;
    border: 0.4vw solid #fff8c5;
    padding: 3vw 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Jersey 15', sans-serif;
    gap: 1.5vw;
    color: #fff8c5;
    box-shadow: 0.5vw 0.5vw 0 black;
}

.start-box p {
    font-size: 50px;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Jersey 15', sans-serif;
    color: #fff8c5;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    bottom: 11%;
}

.buttons button {
    background: transparent;
    border: 0.3vw solid #fff8c5;
    color: #fff8c5;
    font-size: 2.2vw;
    font-family: 'Jersey 15', sans-serif;
    cursor: pointer;
    padding: 0.5vw 3vw;
    box-shadow: 2px 2px 0 black;
    transition: 0.2s ease;
}

@media (max-width: 992px) {
    .start-box {
        padding: 3vw 16vh;
    }
    .start-box p {
        font-size: 30px;
    }
    .buttons button {
        font-size: 2vw;
        padding: 0.5vw 3vw;
        border: 2px solid #fff8c5;
        box-shadow: 2px 2px 0 black;
    }
}
@media (max-width: 592px) {
    .start-box {
        padding: 2vw 6vh;
    }
    .start-box p {
        font-size: 30px;
    }
    .buttons button {
        font-size: 3vw;
        padding: 0.7vw 3vw;
        border: 2px solid #fff8c5;
        box-shadow: 2px 2px 0 black;
    }
}
@media (max-width: 420px) {
    .game-title {
        font-size: 23vw;
        margin-bottom: 20px;
    }
    .start-box {
        margin: 0 10vw;
        padding: 6vw 1vh;
    }
}
.buttons button:hover {
    background: #fff8c5;
    color: #0b0b0b;
}
